.quote {
  --quote-max-width: 90rem;
  --quote-padding-inline: var(--size-24);
  --quote-font-size: 120%;
  --quote-indent: -0.5ch;
  --quote-attribution-gap: 0.5ch;

  & blockquote {
    margin: 0 auto;
    padding: 0 var(--quote-padding-inline);
    max-width: var(--quote-max-width);

    @media (width >= 900px) {
      --quote-padding-inline: var(--size-32);
    }

    & .quote-quotation {
      font-size: var(--quote-font-size);

      & > :first-child {
        text-indent: var(--quote-indent);
      }

      & > :first-child::before,
      & > :last-child::after {
        line-height: 0;
      }

      & > :first-child::before {
        content: "“";
      }

      & > :last-child::after {
        content: "”";
      }
    }

    & .quote-attribution {
      text-align: right;

      & > :first-child::before {
        content: "—";
        padding-right: var(--quote-attribution-gap);
      }
    }
  }
}
