.columns {
  --columns-gap: var(--size-24);

  & img {
    width: 100%;
  }

  & > div {
    display: flex;
    flex-direction: column;

    & > div {
      order: 1;

      @media (width >= 900px) {
        flex: 1;
        order: unset;
      }
    }

    & > .columns-img-col {
      order: 0;

      & img {
        display: block;
      }
    }

    @media (width >= 900px) {
      align-items: center;
      flex-direction: unset;
      gap: var(--columns-gap);
    }
  }
}
