.video {
  --video-max-width: 90rem;
  --video-margin-block: var(--size-24);
  --video-radius: var(--border-radius-media);
  --video-ratio: 16 / 9;
  --video-play-size: var(--touch-target);
  --video-play-outline: var(--border-width-thick) solid;

  text-align: center;
  max-width: var(--video-max-width);
  margin: var(--video-margin-block) auto;

  &[data-embed-loaded='false']:not(.placeholder) {
    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: var(--video-ratio);
  }

  & > div {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--video-radius);
  }

  & video {
    max-width: 100%;
  }

  & .video-placeholder {
    position: relative;
    width: 100%;
    aspect-ratio: var(--video-ratio);

    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      inset: 0;
    }

    & picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &[data-embed-loaded='true'] .video-placeholder,
  &[data-embed-loaded='false'] .video-placeholder + * {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  /* play button: a circle with a triangle drawn by borders */
  & .video-placeholder-play button {
    position: relative;
    display: block;
    width: var(--video-play-size);
    height: var(--video-play-size);
    border-radius: 50%;
    outline: var(--video-play-outline);
    padding: 0;

    &::before {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 0;
      height: 2.4rem;
      border-top: 1.2rem solid transparent;
      border-bottom: 1.2rem solid transparent;
      border-left: 1.8rem solid;
      top: 50%;
      left: calc(50% + 0.2rem);
      transform: translate(-50%, -50%);
    }
  }
}
