.table {
  --table-font-size: var(--body-font-size);
  --table-border: var(--border);
  --table-border-thick: var(--border-width-thick) solid var(--border-color);
  --table-cell-padding: 0.5em;
  --table-cell-gap: 0.25em;
  --table-stripe-background: var(--light-color);

  width: 100%;
  overflow-x: auto;

  & table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: var(--table-font-size);

    & thead tr {
      border-top: var(--table-border-thick);
      border-bottom: var(--table-border-thick);
    }

    & tbody tr {
      border-bottom: var(--table-border);
    }

    & th {
      font-weight: 700;
    }

    & th,
    & td {
      padding: var(--table-cell-padding);
      text-align: left;
    }

    & th p,
    & td p {
      margin: 0;
    }

    & td p + p {
      margin-top: var(--table-cell-gap);
    }
  }

  /* no header variant */
  &.no-header table tbody tr {
    border-top: var(--table-border);
  }

  /* striped variant */
  &.striped tbody tr:nth-child(odd) {
    background-color: var(--table-stripe-background);
  }

  /* bordered variant */
  &.bordered table {
    & th,
    & td {
      border: var(--table-border);
    }
  }
}
