footer {
  --footer-background: var(--light-color);
  --footer-font-size: var(--body-font-size);
  --footer-max-width: var(--max-content-width);
  --footer-padding-inline: var(--block-gutter);
  --footer-padding-top: var(--size-40);
  --footer-padding-bottom: var(--size-24);

  background-color: var(--footer-background);
  font-size: var(--footer-font-size);

  & .footer > div {
    margin: auto;
    max-width: var(--footer-max-width);
    padding: var(--footer-padding-top) var(--footer-padding-inline) var(--footer-padding-bottom);
  }

  & .footer p {
    margin: 0;
  }
}
