@import url('reset.css');
@import url('tokens.css');
@import url('typography.css');

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: 1.6;

  &.appear {
    display: block;
  }

  &[data-breadcrumbs] {
    --header-height: calc(var(--nav-height) + var(--breadcrumbs-height));
  }
}

header {
  height: var(--header-height);

  & .header {
    visibility: hidden;

    &[data-block-status="loaded"] {
      visibility: visible;
    }
  }
}

footer {
  & .footer {
    visibility: hidden;

    &[data-block-status="loaded"] {
      visibility: visible;
    }
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
.section {
  padding-block: var(--section-padding-block);

  & > div {
    max-width: var(--max-content-width);
    margin-inline: auto;
    padding-inline: var(--block-gutter);
  }

  &.light,
  &.highlight {
    background-color: var(--light-color);
  }

  &.center {
    text-align: center;
  }

  &.hero-container {
    padding-block: 0;
  }
}

.button-container {
  display: grid;

  @media (width >= 600px) {
    display: flex;
  }
}

/* buttons */
.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  border: 2px solid var(--button-color);
  border-radius: var(--button-border-radius);
  padding-inline: var(--button-padding);
  height: var(--button-height);
  width: var(--button-width);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: var(--transition-type-bg) var(--transition-speed) var(--transition-ease),
              var(--transition-type-color) var(--transition-speed) var(--transition-ease);

  &.primary {
    background-color: var(--button-color);
    color: var(--background-color);
  }

  &.secondary {
    color: var(--button-color);
  }

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
    cursor: pointer;
    color: var(--background-color);
    text-decoration: none;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--light-color);
    cursor: unset;
  }
}