h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0 var(--text-margin);
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: var(--size-40);
}

h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }

p {
  margin-bottom: var(--text-margin);
}

code,
pre {
  font-size: var(--small-font-size);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;

  &:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}

